html
    head
        title="Robbans spelbutik" 
        link(
            href='style.css'
            rel="stylesheet"
        )
    body
        h1 Spel och konsoller 
        p Vi har oftast fem #[a(href="http://localhost:3000/products") produkter], ibland fler, ibland färre.
        include footer.pug